# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Global settings - apply to all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# Python files
[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Ruby files
[*.rb]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Bash scripts
[*.sh]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Markdown files
[*.md]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false
insert_final_newline = true

# YAML files (often used with Ruby projects)
[*.yml]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# JSON files
[*.json]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

# Makefiles (make sure to use tabs)
[Makefile]
indent_style = tab
