*.py[co]
*.bak
*.log
*.last-run
*.cache
*.copy
.DS_Store
.SublimeREPLHistory
"Package Control.ca-bundle"
"Package Control.ca-list"
"Package Control.system-ca-bundle"
sublime/User/GoSublime/osx-x64
fish_history
fish_read_history
fishd.*
config/nvim/plugin
